* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.c1 {
	background-color: rgb(187, 187, 255);
	height: 200px;
	text-align: center;
}

h1 {
	color: white;
	padding: 50px 0 20px 0;
	font-size: 40px;
}
div {
	width: 300px;
	display: flex;
	justify-content: center;
	margin: 20px auto;
}
a {
	background-color: aliceblue;
	color:  black;
	width: 150px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.c2-position {
	display: flex;
}
.c2 {
	width: 50%;
	height: 200px;
}
.color1 {
	background-color: rgb(136, 255, 181);
}

.color2 {
	background-color: rgb(255, 154, 143);
}

.caja-container {
	display: flex;
}

.caja {
	width: 40%;
	height: 200px;
	margin: 0;
}

.cc1 {
	background-color: rgb(255, 142, 101);
}
.cc2 {
	background-color: rgb(153, 204, 255);
}
.cc3 {
	background-color: rgb(198, 255, 255);
}